# Node.js / Express.js specific
node_modules/
npm-debug.log
.env

# IDE and editor specific
.vscode/
.idea/
*.sublime-*
*.swp

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
bower_components/
